/*

# Whitelisted directories
!ead2pdf/
!EADFiles/
!python/
!static/
!inputs
inputs/*
!inputs/Individuals.json
!inputs/Translations

# Whitelisted files
!.gitignore
!.pylintrc
!Makepdf_nl_NL
!README.md

# To be ignored in all directories
**/.DS_Store
**/__pycache__