/*

# Whitelisted directories
!.github/
!ead2pdf/
!EADFiles/
!inputs
inputs/*
!inputs/Individuals.docx
!inputs/Individuals.json
!inputs/Translations
!outputs
outputs/*
!python/
!static/

# Whitelisted files
!.gitignore
!.pylintrc
!Makepdf_*
!README.md
!requirements.txt

# To be ignored in all directories
**/.DS_Store
**/__pycache__