/*

# Whitelisted directories
!.github/
inputs/*
!inputs/Biographies.json
!inputs/Individuals.json
!inputs/ScanFiles.txt
!inputs/SourcePatterns.json
!inputs/Translations
!inputs/VolumesExcel_**
outputs/*
!outputs/ead3.dtd
!outputs/Legation_Archive.xml
!python/
!static/

# Whitelisted files
!.gitignore
!.pre-commit-config.yaml
!pyproject.toml
!README.md
!requirements.txt

# To be ignored in all directories
**/.DS_Store
**/__pycache__
