repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: pretty-format-json
        args: [--autofix, --no-ensure-ascii, --top-keys, $schema]
  - repo: local
    hooks:
    -   id: control-database
        name: Control the database
        entry: python python/json_control_database.py
        language: python
        always_run: true
        pass_filenames: false
        additional_dependencies:
          - beautifulsoup4~=4.14
          - openpyxl~=3.1
          - requests~=2.32
          - Babel~=2.17
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: [--config-file=pyproject.toml]
        additional_dependencies:
          - types-lxml~=2025.11
          - openpyxl-stubs~=0.1
          - types-babel~=2.11
          - types-beautifulsoup4~=4.12
          - types-requests~=2.32
  - repo: https://github.com/DanielNoord/pydocstringformatter
    rev: v0.7.5
    hooks:
      - id: pydocstringformatter
