# Global mypy options:
[tool.mypy]
files = "python"
strict = true
show_error_codes = true

[tool.ruff]
line-length = 100
output-format = "full"
respect-gitignore = false
show-fixes = true
target-version = "py314"

[tool.ruff.lint]
select = [
  "B", # Flake8-bugbear, https://docs.astral.sh/ruff/rules/#flake8-bugbear-b
  "E", # Pycodestyle, https://docs.astral.sh/ruff/rules/#pycodestyle-e-w
  "F", # Pyflakes, https://docs.astral.sh/ruff/rules/#pyflakes-f
  "I", # Isort, https://docs.astral.sh/ruff/rules/#isort-i
  "PGH", # Pygrep-hooks, https://docs.astral.sh/ruff/rules/#pygrep-hooks-pgh
  "PIE", # Flake8-pie, https://docs.astral.sh/ruff/rules/#flake8-pie-pie
  "PLE", # Pylint error, https://docs.astral.sh/ruff/rules/#pylint-pl
  "PLW", # Pylint warning-level, https://docs.astral.sh/ruff/rules/#pylint-pl
  "RUF", # All original flake8 errors, https://docs.astral.sh/ruff/rules/#ruff-specific-rules-ruf
  "UP", # Pyupgrade, https://docs.astral.sh/ruff/rules/#pyupgrade-up
  "W", #  Pycodestyle, https://docs.astral.sh/ruff/rules/#pycodestyle-e-w
]
ignore = [
  "RUF001", # ambiguous-unicode-character-string
]

[tool.ruff.lint.isort]
