aiofiles~=0.8
aiohttp~=3.8
Babel~=2.10
chardet~=4.0
beautifulsoup4~=4.11
geocoder~=1.38
lxml~=4.9
openpyxl~=3.0
python-docx~=0.8
python-dotenv~=0.20
requests~=2.28
sparql-client~=3.8
wikidataintegrator~=0.9
